.countdown-timer-container {
    margin: 1rem 0;
}

.countdown-timer-container > button.countdown-timer-link,
.countdown-timer-container > button.countdown-timer-link:disabled  {
    all:unset;
    background: none;
    color: grey;
    font-size: 18px;
}

.countdown-timer-link {
    background: none;
    border: none;
    padding: 0;
    font-size: 1rem;
    font-family: inherit;
    cursor: default;
    text-align: left;
    color: #000000;
}

.countdown-timer-number {
    font-weight: bold;
    color: #000;
}

.countdown-complete > button.countdown-timer-link {
    color: #0040ff;
    cursor: pointer;
    text-decoration: none;
}
