.button-wrapper {
  text-align: left;
  max-width: 272px;
  margin-top: 2rem;
  width: 100%;

  @media (max-width: 767px) {
    margin-top: 1.5rem;

    button {
      width: 100%;
      max-width: none;
    }
  }

  @media (max-width: 640px) {
    max-width: none;
    position: fixed;
    bottom: 60px;
    width: 91%;
    z-index: 1;
  }
}

.button-wrapper button {
  font-size: var(--body-fd-md-font-size);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-default);
  background: var(--color-action-background-primary-default);
  border-radius: 13px;
  padding: 0.5em 1.2em;
  width: 100%;
  height: 52px;
  color: var(--color-action-text-primary-default);
  border: none;
  outline: none;
  cursor: pointer;
  position: relative; /* for absolute ::after */

  &::after {
    content: url("../../../../icons/right-arrow.png");
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
  }

  &:hover {
    background: var(--color-action-background-primary-default);
    border: var(--color-action-border-primary-default);
    color: var(--color-action-text-primary-default);
  }

  &:disabled {
    background-color: var(--color-action-background-primary-disabled);
    border: var(--color-action-border-primary-disabled);
    color: var(--color-action-text-primary-disabled);
    cursor: not-allowed;
  }
}
