.radio-group-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.radio-group-wrapper .radio-wrapper {
    display: flex;
    align-items: center;
    margin: 0;
    flex-wrap: nowrap;
    column-gap: 8px;
}

.radio-group-wrapper .radio-wrapper label {
    font-size: var(--body-lg-font-size);
    font-weight: var(--font-weight-medium);
    color: var(--color-interface-text-primary);
    line-height: var(--font-linehight-medium);

    @media (width <=767px) {
        font-size: var(--body-sm-font-size);
        line-height: var(--font-linehight-regular);
    }
}

.radio-group-wrapper .radio-wrapper input[type="radio"] {
    border-radius: 100%;
    border: 1.5px solid var(--color-interface-border-secondary);
    background-color: var(--color-interface-background-primary);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    padding: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;

    @media (320px <=width <=767px) {
        width: 20px;
        height: 20px;
    }

    &:checked {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1.5px solid var(--color-action-border-primary-default);

        &::before {
            content: '';
            border-radius: 100%;
            width: 12px;
            height: 12px;
            background-color: var(--color-action-background-primary-default);
            position: absolute;
        }
    }
}