.drop-down-wrapper label {
      transform: translateY(-28px);
      font-weight: var(--font-weight-regular);
      background: var(--color-interface-background-primary);
      z-index: 1;
  }

.drop-down-wrapper select {
      width: 100%;
      padding-left: 20px;
      font-size: var(--body-lg-font-size);
      font-weight: var(--font-weight-medium);
      color: var(--color-interface-text-primary);
      height: 60px;
      border-radius: 12px;
      border: 1px solid var(--color-interface-border-secondary);
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background: var(--color-interface-background-primary) url("../../../../icons/select_arrow.svg") no-repeat 95% center;
      margin: 0;

      @media (max-width: 640px) {
          font-size: var(--body-sm-font-size) !important;
          height: 52px;
      }

      &:focus-visible {
          outline: none;
      }
  }