/* stylelint-disable no-descending-specificity */
@import url('../../../styles/color-palette.css');

body.modal-open {
  overflow: hidden;
}

.modal dialog {
  --dialog-border-radius: 16px;

  overscroll-behavior: none;
  border: 1px solid #ccc;
  border-radius: var(--dialog-border-radius);
  overflow: hidden;
}

.modal dialog:has(.field-aadharconsentpopup) {
  width: 525px;
  padding: 0;

  .field-aadharconsentlabel {
    display: flex;

    p,
    h3 {
      margin: 0 0 8px;
    }

    b {
      font-size: var(--body-x-lg-font-size);
    }
  }

  .field-aadharconsentlabel b::before {
    content: url('../../icons/aadhar-icon.svg');
    padding-right: 10px;
  }

  .field-selectlanguage {
    display: inline-grid;
  }

  .field-selectlanguage label {
    padding-top: 7px;
    font-size: var(--body-sm-font-size);
    text-align: justify;
  }

  .field-selectlanguage select {
    height: 42px;
    width: 330px;
    padding: var(--form-input-padding) !important;
    border: 1px solid var(--color-input-border-default) !important;
    border-radius: var(--form-input-border-radius) !important;
  }

  fieldset[class*='field-aadharconsent-'] {
    padding: 0;

    div[class*='field-aadharconsenttext-'] {
      padding: 20px 0 0 24px;

      p {
        color: var(--color-input-text-default);
        font-weight: 500;
      }
    }

    .panel-wrapper {
      padding: 0;
    }

    div[class*='field-aadharconsenthelp-'] p {
      color: var(--color-interface-text-secondary);
      font-size: 12px;
    }
  }

  .field-aadharconsentagree {
    text-align: left;
    max-width: 167px;
    margin-top: 10px !important;
  }
}

.modal-content label.field-label{
  display: none;
}

.modal-content .field-modal-heading {
  margin-bottom: 1.5rem;
}

.modal-content .field-modal-heading p {
  font-size: var(--body-xx-lg-font-size);
  font-weight: var(--font-weight-bold);
  color: var(--color-interface-text-primary);
  line-height: var(--font-linehight-m-large);
  margin-bottom: 8px;

  @media (max-width: 480px) {
    font-size: var(--body-lg-font-size);
    line-height: var(--font-linehight-medium);
  }
}

.modal-content .field-modal-content p {
  font-size: var(--body-md-font-size);
  color: var(--color-input-text-primary);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-linehight-medium);

  @media (max-width: 480px) {
    font-size: var(--body-x-sm-font-size);
    line-height: var(--font-linehight-regular);
  }
}

.field-modal-content p p {
  margin-bottom: 1rem !important;
}

.modal-content .button-wrapper.field-wrapper {
  margin: 1px auto 0 auto;
}

.modal-content {
  max-width: 920px;
  width: 100%;
  color: var(--color-modal-interface-text-primary);
  overflow: auto;

  /* p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
  } */

  legend {
    display: none;
  }

  .field-label {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    padding-top: 32px;
  }

  .form-disagreedummybutton,
  .form-iagreeconsent1 {
    margin-top: 1em;
  }

  .form-actionwrapperpanel .field-label {
    display: none;
  }

  .field-viewallcardbenefitspanel {
    p {
      margin: 3px;
    }

    .popuptext-resp {
      margin-bottom: 15px;
    }

    .field-label {
      display: none;
    }

    .field-cardbenefitstext {
      p:has(b):not(:first-of-type) {
        margin-top: 16px;
      }
    }

    button {
      text-align: justify;
      background: var(--color-interface-background-quinary);
      color: var(--color-action-background-primary-default);
      padding-left: 10px !important;
    }

    button:hover {
      background: var(--color-interface-background-quinary) !important;
    }
  }
}

.modal dialog .modal-content {
  overflow-y: auto;
  overscroll-behavior: none;
  max-height: calc(95dvh - 60px);

  @media (max-width: 640px) {
    padding-bottom: 3rem;
  }

  .button-wrapper.field-wrapper {
    @media (max-width: 640px) {
      max-width: 252px;
      position: initial;
      bottom: 30px;
      z-index: 1;
    }
  }
}

@media (width >=768px) {
  .modal dialog {
    width: 100%;
    max-width: 920px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    padding: 0;
    overflow: hidden;
  }

  .modal dialog .modal-content {
    max-height: calc(100vh - 90px);
    padding-bottom: 2rem;
  }
}

@media (width <=540px) {
  .modal dialog:has(.field-aadharconsentpopup) {
    width: 100%;
  }
}

.modal dialog::backdrop {
  background-color: rgb(0 0 0 / 50%);
}

.modal .close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: auto;
  padding: 24px 50px 0 24px;
  border-radius: 0 var(--dialog-border-radius) 0 0;
  background-color: unset;
  text-overflow: clip;
  margin: 0;
  border: none;
  color: #6b7280;
  background: url('../../../icons/close.svg') no-repeat center center;
  background-size: 15px;

  img {
    display: none;
  }

  &:hover {
    background: url('../../../icons/close.svg') no-repeat center center !important;
    background-size: 15px !important;
  }
}

.modal dialog .section {
  padding: 0;
}


.field-viewallcardbenefitspanel {
  padding: 20px !important;

  .field-backlinkcardbenefits {
    text-align: left;
    padding-bottom: 20px;

    button {
      max-width: 100%;
      border-radius: 6px;
    }
  }
}