.xplassisted .field-additionalcustomerdetailswrapper .field-additionalcustomerdetailssection .field-officeaddresswrapper,
.xplassisted .field-additionalcustomerdetailswrapper .field-additionalcustomerdetailssection .field-salaryaccountdetailswrapper,
.xplassisted .field-additionalcustomerdetailswrapper .field-additionalcustomerdetailssection .field-referencedetailswrapper {
    padding-bottom: 2rem;
    border-radius: 20px;
}


.xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress .text-wrapper,
.xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress .drop-down-wrapper {
    grid-column: span 6 !important;
    padding: 32px 32px 0;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress .plain-text-wrapper {
    grid-column: span 6 !important;
    order: 2;
    padding-left: 32px;
    padding-bottom: 32px;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress .text-wrapper input,
.xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress .plain-text-wrapper input {
    font-size: var(--body-fd-md-font-size);
}

.xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress .text-wrapper input::placeholder,
.xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress .plain-text-wrapper input::placeholder {
    font-size: var(--body-fd-md-font-size);
}

.xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress .field-addressline1,
.xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress .field-addressline3,
.xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress .field-citybackup {
    padding-right: 0;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress .field-addressline2,
.xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress .field-pincode,
.xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress .field-stateprovince {
    padding-left: 0;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-accountnumber,
.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-ntbaccountnumber {
    padding-right: 0 !important;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .panel-wrapper {
    padding-left: 0 !important;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress .field-cityeditnote {
    color: var(--color-interface-text-secondary);
}

.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-accountnumber,
.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-ntbaccountnumber,
.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .panel-wrapper {
    grid-column: span 6 !important;
    padding: 32px;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails {
    position: relative;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-bankname {
    position: absolute;
    padding: 0 15px 15px;
    left: -101%;
    top: 57%;
    width: 100%;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-micrcode {
    position: relative;
    top: 60px;
    left: -101%;
    width: 100%;
    padding: 0 0 40px;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .panel-wrapper .field-bankbranch {
    width: 100%;
    padding: 0;
    position: relative;
    top: 30px;
    padding-bottom: 32px;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-accountnumber input,
.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-ntbaccountnumber input,
.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .panel-wrapper input {
    font-size: var(--body-fd-md-font-size);
}

.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-accountnumber input::placeholder,
.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-ntbaccountnumber input::placeholder,
.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .panel-wrapper input::placeholder {
    font-size: var(--body-fd-md-font-size);
}

.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .panel-wrapper fieldset {
    position: relative;
    padding: 0;
    grid-column: span 12 !important;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .panel-wrapper fieldset .field-ifsccode {
    padding: 0;
    width: 100%;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .panel-wrapper fieldset .field-ifsccode input {
    text-transform: uppercase;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-ifscpanel {
    position: relative;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-ifscpanel .field-validateifsc {
    position: absolute;
    top: 5px;
    right: 0;
    margin: 0;
    text-align: end;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-ifscpanel .field-validateifsc button {
    width: auto;
    background: none;
    color: var(--color-action-border-primary-default);
}

.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-ifscpanel .field-validateifsc button::after {
    content: none;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails .text-wrapper,
.xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails .panel-wrapper {
    grid-column: span 6 !important;
    padding: 32px 32px 32px;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails .text-wrapper input,
.xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails .panel-wrapper select,
.xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails .panel-wrapper input {
    font-size: var(--body-fd-md-font-size);
}

.xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails .text-wrapper input::placeholder,
.xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails .panel-wrapper select::placeholder,
.xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails .panel-wrapper input::placeholder {
    font-size: var(--body-fd-md-font-size);
}

.xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails .text-wrapper {
    padding-right: 0;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails .panel-wrapper {
    padding-left: 0;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails .panel-wrapper .field-countrycode,
.xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails .panel-wrapper .field-mobilenumber {
    padding: 0;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress legend::before {
    content: "";
    background-image: url(/content/dam/hdfc/pl-assisted/addofficeaddress.png);
    display: inline-block;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    position: absolute;
    left: 30px;
}

.xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress legend,
.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails legend,
.xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails legend {
    text-indent: 34px;
    font-size: var(--body-x-lg-font-size);
}

.xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails legend::before,
.xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails legend::before {
    content: "";
    background-image: url(/content/dam/hdfc/pl-assisted/internalrefdetails.png);
    display: inline-block;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    position: absolute;
    left: 30px;
}

.xplassisted .field-additionalcustomerdetailssection .field-additionaldetailstiletext p {
    font-size: var(--body-x-lg-font-size);
    font-weight: var(--font-weight-bold);
}

.panel-wrapper.field-officeaddress,
.panel-wrapper.field-salaryaccountdetails,
.panel-wrapper.field-referencedetails {
    border-radius: 10px;
}

.xplassisted .field-additionaldetailsofcustomer .accordion legend::after {
    transform: rotate(-45deg);
    margin-top: -5px;
    text-indent: 0;
    text-shadow: 0 0 1px currentcolor;
}


.xplassisted .form .field-additionalcustomerdetailswrapper fieldset .text-wrapper:has(input:read-only) label {
    background: #FFF !important;
    transform: translateY(-28px) !important;
    z-index: 1;
    line-height: 20px;
}

.xplassisted .form .field-additionalcustomerdetailswrapper :is([data-active='true'], [data-empty='false'])>label {
    transform: translateY(-28px) !important;
}

.xplassisted .field-additionalcustomerdetailswrapper .panel-wrapper label {
    color: var(--color-interface-text-secondary) !important;
}


@media (max-width: 640px) {

    .xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress .text-wrapper,
    .xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress .drop-down-wrapper {
        grid-column: span 12 !important;
        padding: 32px 32px 0;
    }

    .xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress .plain-text-wrapper {
        grid-column: span 12 !important;
        padding-left: 32px;
        padding-bottom: 0;
    }

    .xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-accountnumber,
    .xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-ntbaccountnumber,
    .xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .panel-wrapper {
        grid-column: span 12 !important;
    }

    .xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress .field-cityeditnote {
        font-size: var(--body-fd-xs-font-size);
    }

    .xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress .field-stateprovince {
        order: 2;
        padding-top: 15px;
        padding-bottom: 32px;
    }

    .xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-accountnumber,
    .xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-ntbaccountnumber {
        padding-right: 32px !important;
        padding-bottom: 0;
    }

    .xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .panel-wrapper {
        padding-left: 15px !important;
    }

    .xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-ifscpanel .field-validateifsc {
        position: absolute;
        top: 0;
        right: 4%;
    }

    .xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails .text-wrapper,
    .xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails .panel-wrapper {
        grid-column: span 12 !important;
    }

    .xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails .text-wrapper {
        padding-right: 32px;
    }

    .xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails .panel-wrapper {
        padding-left: 32px;
    }

    .xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails .field-referencefullname {
        padding-bottom: 0;
    }

    .xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-bankname {
        position: relative;
        margin-top: 32px;
        padding: 0;
        left: 0;
        top: 0;
        width: 100%;
    }

    .xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress legend,
    .xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails legend,
    .xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails legend {
        font-size: var(--body-fd-md-font-size);
    }

    .xplassisted .field-additionalcustomerdetailswrapper .field-officeaddresswrapper .field-officeaddress legend::before,
    .xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails legend::before,
    .xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails legend::before {
        top: 30%;
    }

    .xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-bankname,
    .xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .panel-wrapper .field-micrcode,
    .xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .panel-wrapper .field-bankbranch {
        padding-left: 15px;
    }
}

@media (max-width: 768px) {
    .xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .field-ifscpanel .field-validateifsc {
        position: absolute;
        top: 2%;
        right: 4%;
    }

    .xplassisted .field-additionalcustomerdetailswrapper .field-referencedetailswrapper .field-referencedetails .panel-wrapper .field-countrycode select {
        padding-inline-start: 9px;
    }

    .xplassisted .field-additionalcustomerdetailswrapper .field-salaryaccountdetailswrapper .field-salaryaccountdetails .panel-wrapper .field-micrcode {
        padding-top: 0;
    }
}