/* body main .form {
    .field-loginpanel {
        position: relative;

        p {
            margin-bottom: 0;
        }

        .checkbox-wrapper {
            margin-left: 0;
            column-gap: 12px;
            margin-bottom: 1rem;

            @media (width <=767px) {
                margin-bottom: 12px;
            }

            a {
                font-weight: var(--font-weight-bold);
            }
        }


        .field-mobilenumberwrapper {
            position: relative;
            display: flex;
            border: 1px solid var(--color-interface-border-secondary);
            border-radius: 12px;
            height: 60px;
            width: 100%;

            @media (width <=768px) {
                margin-bottom: 2rem;
            }

            @media (width <=640px) {
                height: 52px;
            }

            &:has(.field-description) {
                .field-help-text {
                    margin-top: 25px;
                }

                &~fieldset {
                    @media (max-width: 768px) {
                        margin-top: 1.5rem;
                    }
                }
            }
        }

        .field-countrycode {
            max-width: 108px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                background: url('../icons/select_arrow.svg') no-repeat right center;
                width: 20px;
                height: 20px;
                right: 0;
                top: 20px;

                @media (width <=1024px) {
                    right: 5px;
                }

                @media (width <=640px) {
                    top: 17px;
                }
            }

            &::after {
                content: '|';
                color: #f0f0f0;
                margin-left: 7px;
                position: absolute;
                top: 20px;
                border-width: .5px;
                z-index: 1;

                @media (width <=640px) {
                    top: 10px;
                }
            }

            select {
                background: url("../icons/india-flag.png") no-repeat 20px center;
                appearance: none;
                pointer-events: none;
                width: 100px;
                border-color: var(--color-interface-border-secondary);
                border: none;
                font-size: var(--body-lg-font-size);
                color: var(--color-interface-text-secondary);
                font-weight: var(--font-weight-regular);
                padding: 0 0 0 45px;

                &:focus {
                    outline: none;
                }
            }
        }

        .field-mobilenumber {
            position: absolute;
            margin: 1px;
            padding-left: 30px;
            left: 90px;
            height: 58px;
            top: 0;
            width: calc(100% - 90px);

            @media (width <=767px) {
                margin-bottom: 2rem;
            }

            label {
                top: 5px;
                font-size: var(--body-fd-lg-font-size);
                font-weight: var(--font-weight-regular);
                line-height: 28px;
                margin: 0;
                color: var(--color-interface-text-secondary);
                opacity: 0;
            }

            input {
                height: 99%;
                width: 98%;
                padding-left: 0;
                margin: 0;
                border: none;
                box-shadow: none;
                letter-spacing: .5rem;

                @media (width >=480px) {
                    width: 93%;
                }

                @media (width <=640px) {
                    width: 99%;
                    height: 85%;
                }

                @media (width <=480px) {
                    &::placeholder {
                        font-size: var(--body-x-sm-font-size);
                    }
                }
            }

            &[data-empty="false"],
            &[data-active="true"] {
                label {
                    left: -72px;
                    top: 14px;
                    opacity: 1;
                    font-size: var(--body-fd-sm-font-size);

                    @media (width <=640px) {
                        font-size: var(--body-x-sm-font-size);
                    }
                }
            }

            .field-description {
                margin-top: 1px;
                position: absolute;
                left: -88px;
            }
        }

        .field-registermobilenumbererror {
            margin-top: -16px;

            p {
                color: var(--color-input-text-msg-error);
                font-weight: var(--font-weight-regular);
                font-size: var(--body-sm-font-size);
                margin: 0;
            }
        }

        .field-help-text {
            position: absolute;
            top: 100%;
            left: 0;
            margin-top: 5px;

            p {
                font-size: var(--body-sm-font-size);
            }
        }

        .field-dateofbirth {
            position: relative;

            @media (width <=767px) {
                margin-bottom: 0;
            }

            label {
                top: 19px;
                margin: 0;
            }
        }


        .field-consentpanel {
            margin-top: 60px;

            @media (width <=768px) {
                margin-top: 40px;
            }
        }

        .field-consent1.checkbox-wrapper {
            display: flex;
            flex-wrap: wrap;

            input[type="checkbox"] {
                flex: 0 0 20px;
            }

            label {
                font-size: var(--body-sm-font-size);
                line-height: 16px;
                font-weight: var(--font-weight-regular);
                color: var(--color-input-text-primary);
                flex: 0 0 calc(100% - 32px);

                @media (max-width: 767px) {
                    flex: 0 0 90%;
                }

                @media (max-width: 480px) {
                    font-size: var(--body-x-sm-font-size);
                    flex: 0 0 88%;
                }
            }

            .field-description {
                font-weight: var(--font-weight-regular);
                color: var(--color-input-text-msg-error);
                flex: 0 0 100%;
            }
        }

        .field-consent3.checkbox-wrapper {
            &~.plain-text-wrapper {
                p {
                    font-size: var(--body-sm-font-size);
                    color: var(--color-input-text-primary);
                    font-weight: var(--font-weight-regular);

                    a {
                        font-weight: var(--font-weight-bold);
                        color: var(--color-action-text-secondary-default);
                    }

                    @media (width <=480px) {
                        font-size: var(--body-x-sm-font-size);
                    }
                }
            }
        }

        .field-terms-privacy-text {

            p,
            a {
                font-size: var(--body-sm-font-size);
                font-weight: var(--font-weight-regular);
                line-height: var(--font-linehight-sm);
            }

            a {
                font-weight: var(--font-weight-bold);
            }
        }
    }
} */